body{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.container1{
    display: flex;
    flex: 2;
    background-color: red;
}
.container1 nav{
    color: white;
    height: 790px;
}
nav ul{
    padding: 0;
    margin-left: 10px;
}
nav ul li{
    list-style: none;
    margin: 15px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0;
}
a:hover{
    background-color: whitesmoke; 
    color: black;
    padding: 5px 150px 5px 5px;
}

.container2{
    display: flex;
    flex-direction: column;
    flex: 9;
}
.container2 header{
    height: 150px;
    background-color: greenyellow;
    margin: 0;
}
.container2 header p{
    margin: 10px 10px;
}

.container3{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.container3 aside{
    flex: 1;
    background-color: beige;
}
.container3 aside p{
    margin: 10px 10px;
}

.container4{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.container4 article{
    flex: 4;
}
.container4 footer{
    flex: 1;
    background-color: greenyellow;
}
.container3 footer p,
.container3 article p{
    margin: 10px 10px;
}